<div style="height: 8vh;">
    
</div>
<div class="flex flex-row space-between" style="height: calc(100% - 10vh);">
    <div style="margin: 4vh;">
        <div class="flex flex-row ">
            <div  >
                <img class="circle" src="assets/photo_pro.jpg">
            </div>
        </div>
        <p style="padding-top: 3vh;">Etudiant en deuxième année de Master Miage</p>
    </div>

    <div style="margin-left:4vh;width: 300px; text-align: center;" class="flex flex-col align-center">
        <a mat-list-item><mat-icon>school</mat-icon></a>
        
    </div>

    
</div>


