
<mat-sidenav-container  style="height: 100%;" (mousewheel)="onMouseWheel($event)" >
  <div  style="height: 100%;">
    <div class="scroll-arrow-container animate" *ngIf="shouldAnimateTop" (click)="this.navigateAfterOrNotButton(false)" style="top:20px">
      <mat-icon>arrow_upward</mat-icon>
    </div>
    <router-outlet></router-outlet>
    <div class="scroll-arrow-container animate" *ngIf="shouldAnimateBottom" (click)="this.navigateAfterOrNotButton(true)" style="bottom:20px" >
      <mat-icon>arrow_downward</mat-icon>
    </div>
  </div>
  <mat-sidenav opened="true" mode="side">
      <mat-nav-list style="padding: 0;">
        <div style="height: 2vh"></div>
          <a mat-list-item buttonSelected routerLink="home"><mat-icon>home</mat-icon></a>
          <div style="height: 18vh">
          </div>
          <a mat-list-item buttonSelected routerLink="about_me"><mat-icon>person</mat-icon></a>
          <a mat-list-item buttonSelected routerLink="projects"><mat-icon>work</mat-icon></a>
          <a mat-list-item buttonSelected routerLink="form"><mat-icon>edit_square</mat-icon></a>
          <a mat-list-item buttonSelected routerLink="info"><mat-icon>info</mat-icon></a>
          
      </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
  
