mat-sidenav-container{
  background-color: #262829;
}

mat-sidenav{
    background-color: #1c1e1f;
}

.selected-button{
    background-color: red;
}

.slide-in-out {
    transition: transform 0.3s;
  }
  
  .slide-in-out.ng-enter,
  .slide-in-out.ng-leave {
    transform: translateY(100%);
  }
  
  .slide-in-out.ng-enter.ng-enter-active,
  .slide-in-out.ng-leave.ng-leave-active {
    transform: translateY(0);
  }
  
  .slide-in-out.ng-enter.ng-enter-active.to-top,
  .slide-in-out.ng-leave.ng-leave-active.to-bottom {
    transform: translateY(-100%);
  }
  *{
    overflow-x: hidden;
  }

  .scroll-arrow-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
    color: white;
  }
  
  .scroll-arrow-container:hover {
    opacity: 1;
  }

  
  .animate {
    animation: scrollAnimation 0.8s infinite alternate;
  }
  
  @keyframes scrollAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }
  
  