
<mat-sidenav-container>
  <router-outlet></router-outlet>
  <mat-sidenav opened="true" mode="side">
      <mat-nav-list style="padding: 0;">
        <div style="height: 2vh"></div>
          <a mat-list-item><mat-icon>home</mat-icon></a>
          <div style="height: 20vh">
          </div>
          <a mat-list-item><mat-icon>person</mat-icon></a>
          <a mat-list-item><mat-icon>school</mat-icon></a>
          <a mat-list-item><mat-icon>work</mat-icon></a>
          <a mat-list-item><mat-icon>edit_square</mat-icon></a>
          <a mat-list-item><mat-icon>info</mat-icon></a>

          
      </mat-nav-list>
  </mat-sidenav>
  <div style="height:100vh;">
      
  </div>
</mat-sidenav-container>
  
