<div class="flex flex-col start align-start">
    <div style="height: 30vh;"></div>
    
    <div class="flex flex-row start align-start">
        <div style="margin-left: 10%;"></div>
        <div>
            <p style="font-size: 48px;padding-bottom: 24px;">Hello world,</p>
            <p style="font-size: 24px;padding-bottom: 12px;">Je suis Henri PHAM, Etudiant et Développeur Web Junior.</p>
            <p style="margin: 0;">Le développement web est pour moi un terrain de jeu où je dois résoudre des énigmes technologiques. </p>
            <p style="padding-bottom: 12px;"> Chaque ligne de code que j'écris est un défi passionnant, une opportunité de repousser les frontières de l'imagination et de créer des expériences en ligne captivantes. </p>
            <button mat-flat-button  routerLink="/about_me" style="color: white;background-color: #00c483;">Me découvrir ?</button>
        </div>
        <div >
           
        </div>
        
    </div>
</div>
